In [ ]:
#importing Libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Loading the dataset as a dataframe with erroneous column data types as str
df = pd.read_csv('Projects/MarineEcosystem/global_bleaching_environmental.csv', dtype={13: str, 15: str, 24: str})
df.replace(to_replace='nd', value=None, inplace=True)
df.drop_duplicates(inplace=True)

In [ ]:
df.describe()

,Site_ID,Sample_ID,Latitude_Degrees,Longitude_Degrees,Cyclone_Frequency,Date_Day,Date_Month,Date_Year
count,4.136100e+04,4.136100e+04,41361.000000,41361.000000,41361.000000,41361.000000,41361.000000,41361.000000
mean,7.455816e+04,1.012880e+07,7.558085,34.966127,52.159650,16.037402,6.902686,2007.796765
std,2.520418e+05,1.373151e+06,15.732185,103.404598,7.589593,7.837400,2.875063,6.073043
min,1.000000e+00,9.623000e+03,-30.262500,-179.974300,18.310000,1.000000,1.000000,1980.000000
25%,3.502000e+03,1.031108e+07,-4.902500,-78.385600,47.940000,10.000000,5.000000,2003.000000
50%,5.925000e+03,1.031628e+07,10.776100,96.843300,50.920000,15.000000,7.000000,2007.000000
75%,8.368000e+03,1.032149e+07,20.050500,120.880400,55.730000,22.000000,9.000000,2013.000000
max,1.000060e+06,1.033171e+07,36.750000,179.964500,105.800000,31.000000,12.000000,2020.000000

In [ ]:
df.shape

(41361, 62)

In [ ]:
df.head()

,Site_ID,Sample_ID,Data_Source,Latitude_Degrees,Longitude_Degrees,Ocean_Name,Reef_ID,Realm_Name,Ecoregion_Name,Country_Name,...,TSA_FrequencyMax,TSA_FrequencyMean,TSA_DHW,TSA_DHW_Standard_Deviation,TSA_DHWMax,TSA_DHWMean,Date,Site_Comments,Sample_Comments,Bleaching_Comments
0,2501,10324336,Donner,23.163,-82.5260,Atlantic,None,Tropical Atlantic,Cuba and Cayman Islands,Cuba,...,5,0,0,0.74,7.25,0.18,2005-09-15,None,None,None
1,3467,10324754,Donner,-17.575,-149.7833,Pacific,None,Eastern Indo-Pacific,Society Islands French Polynesia,French Polynesia,...,4,0,0.26,0.67,4.65,0.19,1991-03-15,The bleaching does not appear to have gained ...,The bleaching does not appear to have gained ...,None
2,1794,10323866,Donner,18.369,-64.5640,Atlantic,None,Tropical Atlantic,Hispaniola Puerto Rico and Lesser Antilles,United Kingdom,...,7,0,0,1.04,11.66,0.26,2006-01-15,None,None,None
3,8647,10328028,Donner,17.760,-64.5680,Atlantic,None,Tropical Atlantic,Hispaniola Puerto Rico and Lesser Antilles,United States,...,4,0,0,0.75,5.64,0.2,2006-04-15,None,None,None
4,8648,10328029,Donner,17.769,-64.5830,Atlantic,None,Tropical Atlantic,Hispaniola Puerto Rico and Lesser Antilles,United States,...,5,0,0,0.92,6.89,0.25,2006-04-15,None,None,None

In [ ]:
df.tail()

,Site_ID,Sample_ID,Data_Source,Latitude_Degrees,Longitude_Degrees,Ocean_Name,Reef_ID,Realm_Name,Ecoregion_Name,Country_Name,...,TSA_FrequencyMax,TSA_FrequencyMean,TSA_DHW,TSA_DHW_Standard_Deviation,TSA_DHWMax,TSA_DHWMean,Date,Site_Comments,Sample_Comments,Bleaching_Comments
41356,15446,10310562,Reef_Check,-8.3651,116.0844,Pacific,116.5.3.9E.8.21.54.4S,Central Indo-Pacific,Lesser Sunda Islands and Savu Sea,Indonesia,...,8,1,2.09,1.49,9,0.63,2019-05-28,None,None,None
41357,15456,10310527,Reef_Check,-8.3473,116.0503,Pacific,116.3.1.1E.8.20.50.2S,Central Indo-Pacific,Lesser Sunda Islands and Savu Sea,Indonesia,...,8,1,2,1.29,8.01,0.65,2019-05-16,None,None,None
41358,15456,10310527,Reef_Check,-8.3473,116.0503,Pacific,116.3.1.1E.8.20.50.2S,Central Indo-Pacific,Lesser Sunda Islands and Savu Sea,Indonesia,...,8,1,2,1.29,8.01,0.65,2019-05-16,None,None,None
41359,15457,10310536,Reef_Check,-8.3445,116.0629,Pacific,116.3.46.548E.8.20.40.236S,Central Indo-Pacific,Lesser Sunda Islands and Savu Sea,Indonesia,...,8,1,2,1.29,8.01,0.65,2019-05-29,None,None,None
41360,15457,10310536,Reef_Check,-8.3445,116.0629,Pacific,116.3.46.548E.8.20.40.236S,Central Indo-Pacific,Lesser Sunda Islands and Savu Sea,Indonesia,...,8,1,2,1.29,8.01,0.65,2019-05-29,None,None,None

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41361 entries, 0 to 41360
Data columns (total 62 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Site_ID                                41361 non-null  int64
 1   Sample_ID                              41361 non-null  int64
 2   Data_Source                            41361 non-null  object
 3   Latitude_Degrees                       41361 non-null  float64
 4   Longitude_Degrees                      41361 non-null  float64
 5   Ocean_Name                             41361 non-null  object
 6   Reef_ID                                28821 non-null  object
 7   Realm_Name                             41361 non-null  object
 8   Ecoregion_Name                         41358 non-null  object
 9   Country_Name                           41360 non-null  object
 10  State_Island_Province_Name             41262 non-null  object
 11  City_Town_Name                         40228 non-null  object
 12  Site_Name                              6932 non-null   object
 13  Distance_to_Shore                      41359 non-null  object
 14  Exposure                               41361 non-null  object
 15  Turbidity                              41355 non-null  object
 16  Cyclone_Frequency                      41361 non-null  float64
 17  Date_Day                               41361 non-null  int64
 18  Date_Month                             41361 non-null  int64
 19  Date_Year                              41361 non-null  int64
 20  Depth_m                                39562 non-null  object
 21  Substrate_Name                         28693 non-null  object
 22  Percent_Cover                          28906 non-null  object
 23  Bleaching_Level                        22531 non-null  object
 24  Percent_Bleaching                      34515 non-null  object
 25  ClimSST                                41248 non-null  object
 26  Temperature_Kelvin                     41213 non-null  object
 27  Temperature_Mean                       41229 non-null  object
 28  Temperature_Minimum                    41229 non-null  object
 29  Temperature_Maximum                    41229 non-null  object
 30  Temperature_Kelvin_Standard_Deviation  41229 non-null  object
 31  Windspeed                              41232 non-null  object
 32  SSTA                                   41213 non-null  object
 33  SSTA_Standard_Deviation                41229 non-null  object
 34  SSTA_Mean                              41229 non-null  object
 35  SSTA_Minimum                           41185 non-null  object
 36  SSTA_Maximum                           41229 non-null  object
 37  SSTA_Frequency                         41213 non-null  object
 38  SSTA_Frequency_Standard_Deviation      41229 non-null  object
 39  SSTA_FrequencyMax                      41229 non-null  object
 40  SSTA_FrequencyMean                     41229 non-null  object
 41  SSTA_DHW                               41213 non-null  object
 42  SSTA_DHW_Standard_Deviation            41229 non-null  object
 43  SSTA_DHWMax                            41229 non-null  object
 44  SSTA_DHWMean                           41229 non-null  object
 45  TSA                                    41213 non-null  object
 46  TSA_Standard_Deviation                 41229 non-null  object
 47  TSA_Minimum                            41229 non-null  object
 48  TSA_Maximum                            41229 non-null  object
 49  TSA_Mean                               41229 non-null  object
 50  TSA_Frequency                          41213 non-null  object
 51  TSA_Frequency_Standard_Deviation       41229 non-null  object
 52  TSA_FrequencyMax                       41229 non-null  object
 53  TSA_FrequencyMean                      41229 non-null  object
 54  TSA_DHW                                41213 non-null  object
 55  TSA_DHW_Standard_Deviation             41229 non-null  object
 56  TSA_DHWMax                             41229 non-null  object
 57  TSA_DHWMean                            41229 non-null  object
 58  Date                                   41361 non-null  object
 59  Site_Comments                          2257 non-null   object
 60  Sample_Comments                        2958 non-null   object
 61  Bleaching_Comments                     2669 non-null   object
dtypes: float64(3), int64(5), object(54)
memory usage: 19.6+ MB

In [ ]:
df.columns

Index(['Site_ID', 'Sample_ID', 'Data_Source', 'Latitude_Degrees',
       'Longitude_Degrees', 'Ocean_Name', 'Reef_ID', 'Realm_Name',
       'Ecoregion_Name', 'Country_Name', 'State_Island_Province_Name',
       'City_Town_Name', 'Site_Name', 'Distance_to_Shore', 'Exposure',
       'Turbidity', 'Cyclone_Frequency', 'Date_Day', 'Date_Month', 'Date_Year',
       'Depth_m', 'Substrate_Name', 'Percent_Cover', 'Bleaching_Level',
       'Percent_Bleaching', 'ClimSST', 'Temperature_Kelvin',
       'Temperature_Mean', 'Temperature_Minimum', 'Temperature_Maximum',
       'Temperature_Kelvin_Standard_Deviation', 'Windspeed', 'SSTA',
       'SSTA_Standard_Deviation', 'SSTA_Mean', 'SSTA_Minimum', 'SSTA_Maximum',
       'SSTA_Frequency', 'SSTA_Frequency_Standard_Deviation',
       'SSTA_FrequencyMax', 'SSTA_FrequencyMean', 'SSTA_DHW',
       'SSTA_DHW_Standard_Deviation', 'SSTA_DHWMax', 'SSTA_DHWMean', 'TSA',
       'TSA_Standard_Deviation', 'TSA_Minimum', 'TSA_Maximum', 'TSA_Mean',
       'TSA_Frequency', 'TSA_Frequency_Standard_Deviation', 'TSA_FrequencyMax',
       'TSA_FrequencyMean', 'TSA_DHW', 'TSA_DHW_Standard_Deviation',
       'TSA_DHWMax', 'TSA_DHWMean', 'Date', 'Site_Comments', 'Sample_Comments',
       'Bleaching_Comments'],
      dtype='object')

In [ ]:
# Dropping unnecessary columns with useless data or too many missing values

drop_columns = [
    'Reef_ID', 'Data_Source', 'Site_ID', 'Site_Name', 'Site_Comments', 'Sample_Comments', 'Bleaching_Comments', 'Bleaching_Level',
    'Date_Day', 'Date_Month', 'Date_Year', 'Country_Name', 'State_Island_Province_Name', 'Temperature_Mean', 'Temperature_Minimum',
    'Temperature_Maximum', 'Temperature_Kelvin_Standard_Deviation', 'SSTA_Standard_Deviation', 'SSTA_Mean', 'SSTA_Minimum',
    'SSTA_Maximum', 'SSTA_Frequency', 'SSTA_Frequency_Standard_Deviation', 'SSTA_FrequencyMax', 'SSTA_FrequencyMean', 'SSTA_DHW',
    'SSTA_DHW_Standard_Deviation', 'SSTA_DHWMax', 'SSTA_DHWMean', 'TSA_Standard_Deviation', 'TSA_Minimum', 'TSA_Maximum', 'TSA_Mean',
    'TSA_Frequency', 'TSA_Frequency_Standard_Deviation', 'TSA_FrequencyMax', 'TSA_FrequencyMean', 'TSA_DHW', 'TSA_DHW_Standard_Deviation',
    'TSA_DHWMax', 'TSA_DHWMean', 'Realm_Name', 'Ecoregion_Name', 'City_Town_Name', 'Substrate_Name',
    'Percent_Cover', 'Depth_m', 'Sample_ID', 'SSTA', 'TSA', 'Windspeed'
]
for column in drop_columns:
    if column in df.columns:
        df.drop(column, axis=1, inplace=True)

 Checking for missing values

In [ ]:
df.isna().sum()

Latitude_Degrees         0
Longitude_Degrees        0
Ocean_Name               0
Distance_to_Shore        2
Exposure                 0
Turbidity                6
Cyclone_Frequency        0
Percent_Bleaching     6846
ClimSST                113
Temperature_Kelvin     148
Date                     0
dtype: int64

In [ ]:
#Dropping rows containing missing values
loc_columns = ['Ocean_Name', 'Percent_Bleaching']
df.dropna(subset=loc_columns, inplace=True)

In [ ]:
df.isna().sum()

Latitude_Degrees        0
Longitude_Degrees       0
Ocean_Name              0
Distance_to_Shore       2
Exposure                0
Turbidity               6
Cyclone_Frequency       0
Percent_Bleaching       0
ClimSST                95
Temperature_Kelvin    122
Date                    0
dtype: int64

In [ ]:
df = df.sort_values('Date')
fill_columns = ['Ocean_Name', 'ClimSST', 'Temperature_Kelvin', 'Turbidity']
df[fill_columns] = df.groupby('Ocean_Name')[fill_columns].apply(lambda group: group.fillna(method='ffill')).reset_index(level=0, drop=True)
df[fill_columns] = df.groupby('Ocean_Name')[fill_columns].apply(lambda group: group.fillna(method='bfill')).reset_index(level=0, drop=True)
df.isna().sum()

/tmp/ipykernel_4274/107439715.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[fill_columns] = df.groupby('Ocean_Name')[fill_columns].apply(lambda group: group.fillna(method='ffill')).reset_index(level=0, drop=True)
/tmp/ipykernel_4274/107439715.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[fill_columns] = df.groupby('Ocean_Name')[fill_columns].apply(lambda group: group.fillna(method='bfill')).reset_index(level=0, drop=True)

Latitude_Degrees      0
Longitude_Degrees     0
Ocean_Name            0
Distance_to_Shore     2
Exposure              0
Turbidity             0
Cyclone_Frequency     0
Percent_Bleaching     0
ClimSST               0
Temperature_Kelvin    0
Date                  0
dtype: int64

In [ ]:
df['Distance_to_Shore'] = pd.to_numeric(df['Distance_to_Shore'], errors='coerce')
df['Distance_to_Shore'] = df['Distance_to_Shore'].fillna(value=df['Distance_to_Shore'].mean())

In [ ]:
df.isna().sum()

Latitude_Degrees      0
Longitude_Degrees     0
Ocean_Name            0
Distance_to_Shore     0
Exposure              0
Turbidity             0
Cyclone_Frequency     0
Percent_Bleaching     0
ClimSST               0
Temperature_Kelvin    0
Date                  0
dtype: int64

In [ ]:
df.dtypes

Latitude_Degrees      float64
Longitude_Degrees     float64
Ocean_Name             object
Distance_to_Shore     float64
Exposure               object
Turbidity              object
Cyclone_Frequency     float64
Percent_Bleaching      object
ClimSST                object
Temperature_Kelvin     object
Date                   object
dtype: object

In [ ]:
le = LabelEncoder()

In [ ]:
cat_columns = ['Ocean_Name', 'Exposure']
for column in cat_columns:
    df[column] = le.fit_transform(df[column])

In [ ]:
object_columns = ['ClimSST', 'Temperature_Kelvin', 'Turbidity', 'Percent_Bleaching']
for column in object_columns:
    df[column] = pd.to_numeric(df[column], errors='coerce')

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df.dtypes

Latitude_Degrees             float64
Longitude_Degrees            float64
Ocean_Name                     int64
Distance_to_Shore            float64
Exposure                       int64
Turbidity                    float64
Cyclone_Frequency            float64
Percent_Bleaching            float64
ClimSST                      float64
Temperature_Kelvin           float64
Date                  datetime64[ns]
dtype: object

In [ ]:
df.head()

,Latitude_Degrees,Longitude_Degrees,Ocean_Name,Distance_to_Shore,Exposure,Turbidity,Cyclone_Frequency,Percent_Bleaching,ClimSST,Temperature_Kelvin,Date
1402,-27.1667,-109.3333,3,1579.03,0,0.0214,50.08,75.0,294.65,303.27,1980-06-15
3748,-27.1000,-109.3000,3,442.79,0,0.0219,50.08,30.5,262.15,303.27,1980-06-15
1736,7.8128,-81.7597,3,8.27,1,0.0537,50.00,75.0,302.02,303.27,1983-01-15
1737,7.8550,-82.0125,3,9816.94,0,0.0672,49.89,75.0,302.17,303.19,1983-01-15
1415,5.5500,-87.0600,3,91.97,0,0.0404,49.74,75.0,300.97,302.82,1983-01-15

In [ ]:
# Applying Z-Score Normalization
norm_columns = ['Distance_to_Shore', 'Cyclone_Frequency']
for column in norm_columns:
    df[column] = (df[column] - df[column].mean())/df[column].std()

In [ ]:
df.head()

,Latitude_Degrees,Longitude_Degrees,Ocean_Name,Distance_to_Shore,Exposure,Turbidity,Cyclone_Frequency,Percent_Bleaching,ClimSST,Temperature_Kelvin,Date
1402,-27.1667,-109.3333,3,-0.156378,0,0.0214,-0.295501,75.0,294.65,303.27,1980-06-15
3748,-27.1000,-109.3000,3,-0.241273,0,0.0219,-0.295501,30.5,262.15,303.27,1980-06-15
1736,7.8128,-81.7597,3,-0.273738,1,0.0537,-0.306031,75.0,302.02,303.27,1983-01-15
1737,7.8550,-82.0125,3,0.459121,0,0.0672,-0.320509,75.0,302.17,303.19,1983-01-15
1415,5.5500,-87.0600,3,-0.267485,0,0.0404,-0.340252,75.0,300.97,302.82,1983-01-15